// $accent3
// $affirm
// $danger
// $negate
// $primary3
// $warn
$accent1: #d8973c;
$accent2: #d8c99b;
$deep-carmine: #a4243b;
$eggshell: #EFE6DD;
$neutral: #918e8e;
$onyx: #2d2f33;
$primary1: #bd632f;
$primary2: #273e47;
$raisin: #273e47;
$tomato: #bd632f;
$topaz: #d8973c;
$vanilla: #d8c99b;
$white: #ffffff;
