@import '~styles/fonts';
@import '~styles/typography';
@import '~styles/theme';
@import '~styles/mixins/box-sizing';
@import '~styles/mixins/media-queries';
@import '~styles/functions/z-index';

html {
  background-color: $eggshell;
  height: 100%;
  margin: 0;
  z-index: z-index(default) - 1;
}

body {

  height: 100%;
  margin: 0;
  @include box-sizing(border-box);
  & * {
    @include box-sizing(inherit);
  }


  @include for-phone-only {

  }
  @include for-tablet-portrait-up {

  }
  @include for-tablet-landscape-up {

  }
  @include for-desktop-up {

  }
  @include for-big-desktop-up {

  }
}

.appContainer_0 {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // flex: 1 0 auto;
  // flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.appContainer_1 {
  height: 100%;
  overflow: auto; // margin of inner contents overflows and ruins layout w/out this
  overflow-x: hidden;

  position: relative;
}

.appContainer_2 {
  height: 100%;
}


