@import './keyframes';
@import './animation';
@import '../functions/z-index';

@mixin children-disappear-first-to-last {
  @include keyframes(disappear) {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      position: absolute;
      z-index: z-index(blackhole);
    }
  }
  @for $idx from 1 to 25 {
    & :nth-child(#{$idx}) {
      @include animation(disappear '200ms ease-out #{($idx - 1) * 220}ms forwards');
    }
  }
}
