@import '~styles/mixins/box-sizing';
@import '~styles/mixins/container-std';
@import '~styles/mixins/flexbox';
@import '~styles/mixins/media-queries';
@import '~styles/mixins/slide-in-from';
@import '~styles/mixins/slide-out-to';
@import '~styles/mixins/transform';
@import '~styles/mixins/transition';
@import '~styles/functions/z-index';
@import '~styles/theme';
@import '~sass-burger';

.burgerIcon {
  @include burger(2.5em, .4em, .3em, $eggshell, 1px);
  margin: 1.5em;
  z-index: z-index(navbar) + 1;;
}

.burgerWrapper {
  @include align-items(center);
  @include flexbox();
  @include justify-content(flex-end);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: z-index(navbar) - 1;

  &.active .burgerIcon {
    @include burger-to-cross();
  }
}



.navbar {
  align-items: center;
  background-color: $raisin;
  box-shadow:  0px 4px 10px 0px rgba(0, 0, 0, 0.3);

  color: $eggshell;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z-index(navbar);

  a {
    @include align-items(center);
    @include flexbox();
    @include box-sizing(border-box);
    color: $eggshell;
    height: 100%;
    text-decoration: none;
    z-index: z-index(navbar) + 1;

    &:hover + .selectionIndicator {
      border-bottom: .5em solid rgb(80, 219, 126);
    }

    &:active + .selectionIndicator {
      border-bottom: 1em solid rgb(80, 219, 126);
    }
  }
}

.navbarSpacer {
  padding: 1em .5em;
  z-index: z-index(navbar) - 1;
  height: 4em;
}



.activeNavLink {
  & + .selectionIndicator {
    border-bottom: .5em solid rgb(80, 219, 126);
  }
}

.selectionIndicator {
  @include transition(50ms);
  border-bottom: 0 solid rgb(80, 219, 126);
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navbarContainerInner {
  @include container-std();
  @include flexbox();
  height: 4rem;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.navItemGroupLeft {
  @include flexbox();
  flex: 3 2 auto;
  order: 1;
}

.navItemGroupMiddle {
  @include flexbox();
  flex: 8 6 auto;
  justify-content: space-evenly;
  order: 2;

  & .navItem {
    margin: 0 0 0 1em;
  }
}

.navItemGroupRight {
  @include flexbox();
  flex: 3 2 auto;
  justify-content: flex-end;
  order: 3;

  & .navItem {
    margin: 0 0 0 1.5em;
  }
}

.navItem {
  @include flexbox();
  align-items: center;
  color: $eggshell;
  position: relative;
  margin: 0;
}

.navViewLarge {
  @include custom-mquery(750px) {
    @include flexbox();
    height: 4rem;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 100%;
  }
  display: none;
}

.navViewCompact {
  @include custom-mquery(750px) {
    display: none;
  }
  @include flexbox();
  justify-content: center;
  width: 100%;
}

.hideNav {
  @include slide-out-to(y, -4em, 500ms ease);
  @include transform(translateY(-4em));
}

.showNav {
  @include slide-in-from(y, -4em, 200ms ease);
}
